<header>
    <div class="logo">Kopi<span>Senja.</span></div>
    <nav>
        <ul>
            <li><a href="#home" class="nav-link">Home</a></li>
            <li><a href="#tentang" class="nav-link">Tentang Kami</a></li>
            <li><a href="#menu" class="nav-link">Menu</a></li>
            <li><a href="#kontak" class="nav-link">Kontak</a></li>
        </ul>
    </nav>
</header>